*{
    margin: 0;
    padding: 0;
    text-align: center;
}
#heading
{ 
    height: 145px;
    width: 100%;
    background-color: #191913;
    color:#ff00d0;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 6rem  rgba(255, 0, 208, 0.8)
     
}

.move
{
    height: 100px;
    width: 300px;
    background-color: #191913;
    color:#ff00d0;
    font-size: 37px;
    box-shadow: 0 0 6rem  rgba(255, 0, 234, 0.8);
    border-radius: 35px;
}
.move:hover
{
    color:aqua;
    cursor: pointer;
    box-shadow: 0 0 6rem  rgba(1, 196, 255, 0.8);
}

.choices
{
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.choice:hover
{
    opacity: 0.5;
    cursor: pointer;
    background-color: white;
}
img
{
    height: 165px; 
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}
.scoreboard
{
    height: 252px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#user
{
    font-size: 3rem;
}
#computer
{
    font-size: 3rem;
}
.hide
{
    display: none;
}
.declareWinner
{
    height: 200px;
    color: #191913;
    font-size: 100px;
    width: 100%;
    margin-top: 250px;
    text-shadow: 0 0 6rem  aqua;
}
.reset
{
    height: 128px;
    width: 265px;
    background-color: #191913;
    color:aqua;
    cursor: pointer;
    font-size: 50px;
    box-shadow: 0 0 6rem  rgba(1, 196, 255, 0.8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 45px;
    margin-top: 111px;
}
.toHide
{
    height: 1140px;
    width: 100%;
    text-align: center;
}
.rocks
{
    border-radius: 50%;
    box-shadow: 0 0 6rem  rgba(255, 0, 234, 0.8);
}
.papers
{
    border-radius: 50%;
    box-shadow: 0 0 6rem  aqua;
}
.scissorss
{
    border-radius: 50%;
    box-shadow: 0 0 6rem  rgba(204, 255, 0, 0.8);
}
